*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Display", sans-serif;
}
#canvas {
  background-color: white;
}
body {
  margin-top: 50px;
  background-color: #707070;
}
.colorBtn {
  width: 20px;
  height: 20px;
}

.btnSection {
  padding: 10px;
}
.section {
  text-align: center;
  width: 500px;
  margin: auto;
  outline: 2px solid black;
}
#board {
  margin: auto;
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-rows: repeat(8, 25px);
  grid-template-columns: repeat(8, 25px);
}
#board div {
  justify-self: center;
  align-self: center;
  width: 25px;
  height: 25px;
  /* background-color: white; */
  outline: 1px dotted black;
}

.red {
  background-color: red;
}
.violet {
  background-color: violet;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.white {
  background-color: white;
}
.black {
  background-color: black;
}

.lowPannel button {
  margin: 10px;
  width: 50px;
  height: 25px;
}

.spacer {
  width: auto;
  height: 20px;
}
