.generatorBox {
    padding: 25px;
    margin: 15% auto 0 auto;
    background-color: #ffffff;
    color: $gray;
    position: relative;
    text-align: center;
    box-shadow: $elementShadow;
    width: 400px;
    border: 1px solid black;
    * {
        display: block;
        margin: 10px auto;
    }
    button {
        width: $logElementsWidth;
    }
    a {
        width: $logElementsWidth !important;
    }
}

.boardGeneratorSelect {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
