.userBox {
    color: $gray;
    background-color: #fff;
    position: relative;
    text-align: center;
    width: 600px;
    border: $boxBorder;
    margin: 20px auto;
    box-shadow: $elementShadow;
    padding: 15px;
}

.userPic {
    margin: 10px;
}

.action-icons {
    float: right;
    width: 20px;
    height: 20px;
    margin: 20px 20px 20px 0;
    cursor: pointer;
    transition: all 0.3s;
    &:hover:first-child {
        fill: $red;
    }
    &:hover:last-child {
        fill: $gray;
    }
}

.modifierBox {
    display: none;
    background-color: #fff;
    width: 400px;
    height: 140px;
    margin: 20rem auto;
    position: fixed;
    text-align: center;
    border: $boxBorder;
    box-shadow: $elementShadow;
    z-index: 10;
    left: 0;
    right: 0;
    & > * {
        margin: 5px;
    }
    & button {
        margin: 0 10px;
    }
    & h3 {
        margin: 12px 0px 5px 0px;
    }
}

.fixDeleteButton {
    margin-top: 25px;
}
