.editorBox {
    background-color: #fff;
    color: $gray;
    position: relative;
    text-align: center;
    border: 1px solid black;
    margin: 2% auto 0 auto;
    box-shadow: $elementShadow;
    padding: 15px;
    width: 750px;
    button {
        width: $logElementsWidth;
    }
}

.editorTitle {
    padding: 5px 0 20px 0;
}

.canvasStyle {
    background-color: #ffffff;
    z-index: -5;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.canvasDiv {
    display: inline-block;
    position: relative;
}

.canvasGrid {
    display: grid;
    justify-content: center;
    width: 480px;
    margin: 40px auto;
}

.colorSelectorButton {
    color: rgba(255, 255, 255, 0);
    white-space: nowrap;
}

.editorToolButton {
    text-align: center;
    background-color: white;
    cursor: pointer;
    line-height: 50px;
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    outline: #000 1px solid;
    transition: 0.5s;
    &:hover {
        opacity: 0.7;
    }
}

.tools {
    display: flex;
    justify-content: space-between;
}

.flexStart {
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
}

.flexEnd {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.colorPicker {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    appearance: none;
    height: 50px;
    width: 50px;
    position: relative;
    display: inline-block;
    outline: #000 1px solid;
    transition: 0.5s;
    &:hover {
        opacity: 0.7;
    }
}

.svgSize {
    height: auto;
    width: 25px;
    transform: translateY(8px);
}

.box {
    display: none;
}

.titleSetBox {
    display: none;
    background-color: #fff;
    width: 400px;
    height: 140px;
    margin: 20rem auto;
    position: absolute;
    text-align: center;
    border: $boxBorder;
    box-shadow: $elementShadow;
    z-index: 10;
    left: 0;
    right: 0;
    & > * {
        margin: 5px;
    }
    & button {
        margin: 0 10px;
    }
    & h3 {
        margin: 12px 0px 5px 0px;
    }
}

.block {
    z-index: 7;
    margin: 0;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #aaaaaa77;
    display: none;
}
