* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#back {
  position: fixed;
  z-index: -10;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/src/assets/grey-red-background.png");
  background-position: 50% 50%;
  animation: back 10s infinite alternate ease-in-out;
}

@keyframes back {
  0% {
    background-position: 50% 40%;
  }
  100% {
    background-position: 50% 60%;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  transition: 0.2s;
  text-decoration: none;
  color: #303030;
}
a:hover {
  color: #d22127;
}

button {
  background-color: transparent;
  border: 1px solid black;
  font-size: 1.2rem;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(100, 100, 100, 0.1);
}

select {
  display: block;
  background-color: white;
  color: #303030;
  padding: 5px;
  width: 100px;
  font-size: 1rem;
}

nav {
  background-color: white;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  margin-bottom: 50px;
}
nav a {
  font-size: 1.2rem;
  margin: 0 20px;
}

footer {
  text-align: center;
  padding: 15px 0 30px 0;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}

.generatorBox {
  padding: 25px;
  margin: 15% auto 0 auto;
  background-color: #ffffff;
  color: #303030;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  border: 1px solid black;
}
.generatorBox * {
  display: block;
  margin: 10px auto;
}
.generatorBox button {
  width: 280px;
}
.generatorBox a {
  width: 280px !important;
}

.boardGeneratorSelect {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.editorBox {
  background-color: #fff;
  color: #303030;
  position: relative;
  text-align: center;
  border: 1px solid black;
  margin: 2% auto 0 auto;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
  width: 750px;
}
.editorBox button {
  width: 280px;
}

.editorTitle {
  padding: 5px 0 20px 0;
}

.canvasStyle {
  background-color: #ffffff;
  z-index: -5;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.canvasDiv {
  display: inline-block;
  position: relative;
}

.canvasGrid {
  display: grid;
  justify-content: center;
  width: 480px;
  margin: 40px auto;
}

.colorSelectorButton {
  color: rgba(255, 255, 255, 0);
  white-space: nowrap;
}

.editorToolButton {
  text-align: center;
  background-color: white;
  cursor: pointer;
  line-height: 50px;
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  outline: #000 1px solid;
  transition: 0.5s;
}
.editorToolButton:hover {
  opacity: 0.7;
}

.tools {
  display: flex;
  justify-content: space-between;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

.colorPicker {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  appearance: none;
  height: 50px;
  width: 50px;
  position: relative;
  display: inline-block;
  outline: #000 1px solid;
  transition: 0.5s;
}
.colorPicker:hover {
  opacity: 0.7;
}

.svgSize {
  height: auto;
  width: 25px;
  transform: translateY(8px);
}

.box {
  display: none;
}

.titleSetBox {
  display: none;
  background-color: #fff;
  width: 400px;
  height: 140px;
  margin: 20rem auto;
  position: absolute;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  left: 0;
  right: 0;
}
.titleSetBox > * {
  margin: 5px;
}
.titleSetBox button {
  margin: 0 10px;
}
.titleSetBox h3 {
  margin: 12px 0px 5px 0px;
}

.block {
  z-index: 7;
  margin: 0;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #aaaaaa77;
  display: none;
}

.userBox {
  color: #303030;
  background-color: #fff;
  position: relative;
  text-align: center;
  width: 600px;
  border: 1px solid black;
  margin: 20px auto;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.userPic {
  margin: 10px;
}

.action-icons {
  float: right;
  width: 20px;
  height: 20px;
  margin: 20px 20px 20px 0;
  cursor: pointer;
  transition: all 0.3s;
}
.action-icons:hover:first-child {
  fill: #d22127;
}
.action-icons:hover:last-child {
  fill: #303030;
}

.modifierBox {
  display: none;
  background-color: #fff;
  width: 400px;
  height: 140px;
  margin: 20rem auto;
  position: fixed;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  left: 0;
  right: 0;
}
.modifierBox > * {
  margin: 5px;
}
.modifierBox button {
  margin: 0 10px;
}
.modifierBox h3 {
  margin: 12px 0px 5px 0px;
}

.fixDeleteButton {
  margin-top: 25px;
}

.logBox {
  color: #303030;
  background-color: #fff;
  position: relative;
  text-align: center;
  width: 400px;
  height: 600px;
  border: 1px solid black;
  margin: 9% auto 0 auto;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}
.logBox * {
  display: block;
  margin: 10px auto;
}
.logBox button {
  width: 280px;
}

.inputLine {
  color: #303030;
  margin-top: 5px;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #303030;
  width: 280px;
  transition: 0.2s;
  outline: none;
}
.inputLine:focus {
  border-bottom: 1px solid #d22127;
}

.logInputsBox {
  transform: translateY(50px);
}

.midInputs {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.botInputs {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.logTitle {
  margin-top: 20px;
  font-size: 1.6rem;
}

.postBox {
  color: #303030;
  background-color: #fff;
  position: relative;
  text-align: center;
  width: 600px;
  border: 1px solid black;
  margin: 20px auto;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.postPhoto {
  margin: 60px auto;
  display: block;
  outline: #000000 1px solid;
}

.topPost {
  margin: 20px;
  position: absolute;
}

.bottomPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bottomPost * {
  margin: 20px;
  position: absolute;
  bottom: 0;
}
.bottomPost .postTitle {
  left: 0;
}
.bottomPost .postDate {
  right: 0;
}

.logErrorMessage {
  display: block;
  color: red;
  transform: translateY(60px);
}

.regErrorMessage {
  display: block;
  color: red;
  transform: translateY(100px);
}

.footerFixed {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.loaderBox {
  filter: invert(100%);
  width: 100px;
  height: 100px;
  margin: 15rem auto;
}

/*# sourceMappingURL=style.css.map */
