* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#back {
    position: fixed;
    z-index: -10;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('/src/assets/grey-red-background.png');
    background-position: 50% 50%;
    animation: back 10s infinite alternate ease-in-out;
}

@keyframes back {
    0% {
        background-position: 50% 40%;
    }
    100% {
        background-position: 50% 60%;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    transition: 0.2s;
    text-decoration: none;
    color: $gray;
    &:hover {
        color: $red;
    }
}

button {
    background-color: transparent;
    border: $boxBorder;
    font-size: 1.2rem;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
        background-color: rgba(100, 100, 100, 0.1);
    }
}

select {
    display: block;
    background-color: white;
    color: $gray;
    padding: 5px;
    width: 100px;
    font-size: 1rem;
}

nav {
    background-color: white;
    text-align: center;
    padding: 10px;
    box-shadow: $elementShadow;
    border: $boxBorder;
    margin-bottom: 50px;
    a {
        font-size: 1.2rem;
        margin: 0 20px;
    }
}

footer {
    text-align: center;
    padding: 15px 0 30px 0;
    width: 100%;
    background-color: white;
    border: $boxBorder;
    box-shadow: $elementShadow;
    margin-top: 50px;
}
