@import './variables.scss';
@import './base.scss';
@import '../../pages/Generator/generator.scss';
@import '../../pages/Editor/editor.scss';
@import '../../pages/Profile/profile.scss';

.logBox {
    color: $gray;
    background-color: #fff;
    position: relative;
    text-align: center;
    width: 400px;
    height: 600px;
    border: $boxBorder;
    margin: 9% auto 0 auto;
    box-shadow: $elementShadow;
    * {
        display: block;
        margin: 10px auto;
    }
    button {
        width: $logElementsWidth;
    }
}

.inputLine {
    color: $gray;
    margin-top: 5px;
    font-size: 1.2rem;
    padding: 5px;
    border: none;
    border-bottom: 1px solid $gray;
    width: $logElementsWidth;
    transition: 0.2s;
    outline: none;
    &:focus {
        border-bottom: 1px solid $red;
    }
}

.logInputsBox {
    transform: translateY(50px);
}

.midInputs {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.botInputs {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.logTitle {
    margin-top: 20px;
    font-size: 1.6rem;
}

.postBox {
    color: $gray;
    background-color: #fff;
    position: relative;
    text-align: center;
    width: 600px;
    // height: 600px;
    border: $boxBorder;
    margin: 20px auto;
    box-shadow: $elementShadow;
}

.postPhoto {
    margin: 60px auto;
    display: block;
    outline: #000000 1px solid;
}

.topPost {
    margin: 20px;
    position: absolute;
}

.bottomPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    * {
        margin: 20px;
        position: absolute;
        bottom: 0;
    }
    .postTitle {
        left: 0;
    }
    .postDate {
        right: 0;
    }
}

.logErrorMessage {
    display: block;
    color: red;
    transform: translateY(60px);
}

.regErrorMessage {
    display: block;
    color: red;
    transform: translateY(100px);
}

.footerFixed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.loaderBox {
    filter: invert(100%);
    width: 100px;
    height: 100px;
    margin: 15rem auto;
}
