$gray: #303030;
$red: #d22127;
$elementShadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
$boxBorder: 1px solid black;
$logElementsWidth: 280px;

// sass --watch .\src\style\scss\main.scss .\src\style\style.css
